@model IEnumerable<ShopCham.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<!--Home banner-->
<div class="nn-home-banner">
    <img src="/Content/img/banner/home-banner03.jpg" class="img-responsive" />
</div>

@foreach (var c in Model)
{
    var product = c.Products
        .OrderBy(p => Guid.NewGuid())
        .ToList()
        .Take(4);
    
    <div class="nn-block-margin-top30px">
        <div class="nn-cat-title">
            <a href="/Product/Category?CategoryID=@c.Id"><h2>@c.Name</h2></a>
        </div>
        <div>
            @foreach (var p in product)
	        {
		        <div class="col-md-3 col-sm-6 col-sx-12">
                    <div class="nn-product-box">
                        <a href="/Product/Detail/@p.Id">
                            <img id="i@(p.Id)" class="img-responsive" alt="@p.Name" src="/Content/img/products/@p.Image" />
                        </a>
                        <div class="nn-product-box-descriptions">
                            <h3 class="nn-product-box-name">
                                <a href="/Product/Detail/@p.Name.ToLower()_@p.Id" title="@p.Name">@p.Name</a>
                            </h3>
                            <div class="nn-product-box-price">
                                <span>@p.UnitPrice</span>
                            </div>
                            <div class="nn-product-box-actions">
                                <button type="button" title="Thêm vào giỏ" class="btn btn-default add-to-cart" data-id="@p.Id">
                                    <span>Thêm vào giỏ</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div> 
	        }
            <div>
                <a class="pull-right alert-link" href="/Product/Category?CategoryID=@c.Id">
                    <h6>Xem thêm...</h6>
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@